*{
    font-family: "Bookman Old Style", sans-serif;
}
html{

    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    margin:0;
    padding: 0;
    /*background*/
    background-image: url("Images/BackgroundPhoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /*text*/
    color: navajowhite;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold ;


    /*grid*/
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: "titol"
                "main"
                "foot";
}

header{
    grid-area: titol;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a,h1{
    text-decoration: none;
    color: orange;
}

.headMain{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;

    margin: 20px;
}

#anchor,td{
    transition: 0.3s;
}

#anchor:hover{
    scale: 1.2;
}

.icon {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    margin: 30px;
    opacity: 0.5;
    transition: 0.3s;
    position: relative;

    animation-name: logo;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    transform-origin: center;
}

@keyframes logo {
    0%{transform: rotateY(0deg) scale(0.5); opacity: 0.5}
    50%{transform: rotateY(180deg) scale(1.5); opacity: 1}
    100%{transform: rotateY(360deg) scale(1); opacity: 0.5}
}

.icon:hover{
    opacity: 1;
    scale: 1.2;
}

.headRight{
    display: flex;
    flex-direction: column-reverse;
}
.headRight > h1{
    transition: 0.3s;
}

.headRight > h1:hover{
    scale: 1.2;
}

li{
    transition: 0.3s;
}

li:hover{
    scale: 1.2;
}

.listLinks > ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 0;
}

#description{
    margin: 30px;
    font-size: 1.4rem;
}

main{
    grid-area: main;
    display: flex;
}

table{
    margin: 20px;
}

tr{
    align-items: center;
}

td{
    border-bottom: orange solid 1px;
    border-radius: 10px;
    background-color: rgba(255,255,255, .2);
    backdrop-filter: blur(2px);
    transition: 0.3s;
}

tr:hover{
    background-color: coral;
    color: white;

}


footer{
    grid-area: foot;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}