*{
    box-sizing: border-box;
    font-family: "Bookman Old Style", sans-serif;
}
html{

    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    /*background*/
    background-image: url("Images/BackgroundPhoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /*grid*/
    display: grid;
    text-align: center;
    grid-template-columns: 2fr 2fr 4fr 2fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: ". titol titol ."
                ". main main ."
                ". foot foot button";
}


footer{
    grid-area: foot;
    margin: 30px;
    color:navajowhite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.upTop {
    position: fixed; /* Mantiene el botón fijo en la pantalla */
    bottom: 20px; /* Espaciado desde el fondo de la ventana */
    right: 20px; /* Espaciado desde el lado derecho de la ventana */
    margin: 0;
    display: flex;
    justify-content: center; /* Centra el contenido del botón */
    align-items: center; /* Alinea verticalmente */
}

button > img {
    height: 50px; /* Ajusta el tamaño de la imagen */
    width: 50px;
    margin: 0; /* Elimina el margen */
}
button > img{
    height: 50px;
    width: 50px;
    margin: 0px;
}

li{
    list-style: none;
    font-size: 1rem;
    transition: 0.3s;
}
li:hover{
    font-size: large;
}
a{
    text-decoration: none;
    color: navajowhite;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
a:hover{
    color: orange;
}

.listLinks{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
}
.listLinks > ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5rem;
    color: antiquewhite;
    font-weight: bold;
    padding: 0;
    margin:0;
    width: 100%;
    height: 100%;
}

header{
    grid-area: titol;
    font-size: larger;
    color: antiquewhite;
    font-weight: bold;
    padding-left: 10px;
    text-shadow: 0 0 10px #000000;
    position: sticky;

    display: flex;
    flex-direction: row;
}



@keyframes head-blur {
    from{

    }
    to{
        background: rgba(255,255,255, .05);
        backdrop-filter: blur(5px);
        font-size: 18px;
        color: darkorange;
    }
}

nav{
    grid-area: nav;
    width: 100%;

    text-shadow: 0 0 10px #000000;
}



@media (max-width: 1190px){
    header{
        flex-direction: column;
    }
}
@media (max-width: 800px) {
    body{
        grid-template-columns: 100%;
        grid-template-rows:5% 90% 5%;
        grid-template-areas: "titol"
                "main"
                "footer";
    }

    header{
        flex-direction: column;
    }

}
