*{
    box-sizing: border-box;
    font-family: "Bookman Old Style", sans-serif;
}
html{

    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    margin:0;
    padding: 0;

    /*background*/
    background-image: url("Images/BackgroundPhoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /*text*/
    color: navajowhite;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold ;

    /*grid*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: "titol"
                "main"
                "foot";
}

header{
    grid-area: titol;
    font-size: 40px;
    color: antiquewhite;
    font-weight: bold;
    padding-left: 10px;
    text-shadow: 0 0 10px #000000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: title 2s ease;
    animation-fill-mode: forwards;
}

@keyframes title {
    from{
        transform: translate(-50%);
    }
    to{
        transform: translate(0%);
    }
}

h2{
    font-size: larger;
    color: darkorange;
    font-weight: bold;
    padding-left: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;    position: relative;

    animation: subTitle 2s ease;
    animation-fill-mode: forwards;
}

@keyframes subTitle {
    from{
        transform: translate(200%);
    }
    to{
        transform: translate(0);
    }
}

main{
    font-size: larger;
    font-weight: bold;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flex_container{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
    padding-bottom: 10px;
}

.pages:hover{
    scale: 1.2;
}

.icon{
    width: 450px;
    height: 190px;
    border-radius: 10px;


    animation-name: logo;
    animation-duration: 2s;
    animation-timing-function: linear;
    transform-origin: center;
}

@keyframes logo {
    0%{
        opacity: 0.5;
        transform: scale(0.5);
    }
    50%{
        opacity: 0.75;
        transform: scale(0.75);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.menuImg{
    height: 175px;
    width: 300px;
    margin: 15px;

    border-radius: 10px;
}

a{
    text-decoration: none;
    color: navajowhite;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition: 0.3s;
}
.pages:hover{
    color: orange;
    background-color: rgba(255,255,255, .4);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}



footer{
    padding: 30px;
    grid-area: foot;
    color:navajowhite;
    text-shadow: 0 0 10px #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}


nav{
    grid-area: nav;
    width: 100%;
    text-shadow: 0 0 10px #000000;
}

nav, ul{
    display: flex;
    gap: 2rem;
}



@media (max-width: 600px) {
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 25% 4fr 1fr;
        grid-template-areas: "titol"
                "main"
                "foot";
    }

    main{
        flex-direction: column;
    }

    header{
        scale: 0.7;
        padding-left: 0;
    }

}