*{
    box-sizing: border-box;
    font-family: "Bookman Old Style", sans-serif;
}
html{

    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    /*background*/
    background-image: url("Images/BackgroundPhoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /*text*/
     color: navajowhite;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    /*grid*/
    display: grid;
    text-align: center;
    grid-template-columns: 2fr 2fr 4fr 2fr;
    grid-template-areas: ". titol titol ."
                ". main main ."
                ". foot foot button";
}

/* footer*/
footer{
    grid-area: foot;
    margin: 30px;
    color:navajowhite;
    text-align: center;
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    font-size: larger;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

/*Botó cap amunt*/

.upTop {
    position: fixed; /* Mantiene el botón fijo en la pantalla */
    bottom: 20px; /* Espaciado desde el fondo de la ventana */
    right: 20px; /* Espaciado desde el lado derecho de la ventana */
    margin: 0;
    display: flex;
    justify-content: center; /* Centra el contenido del botón */
    align-items: center; /* Alinea verticalmente */
}

button > img {
    height: 50px;
    width: 50px;
    margin: 0;
}
button > img{
    height: 50px;
    width: 50px;
    margin: 0;
}

li{
    list-style: none;
    font-size: 1rem;
    transition: 0.3s;
}
li:hover{
    font-size: large;
}
a{
    text-decoration: none;
    color: navajowhite;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}
a:hover{
    color: orange;
}

.listLinks{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
}
.listLinks > ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.5rem;
    color: antiquewhite;
    font-weight: bold;
    padding: 0;
    margin:0;
    width: 100%;
    height: 100%;
}

header{
    grid-area: titol;
    font-size: larger;
    color: antiquewhite;
    font-weight: bold;
    text-shadow: 0 0 10px #000000;

    display: flex;
    flex-direction: row;
}

ol{
    padding: 0;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex:1;
}

.listMain{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    transition: 1s;
    font-size: larger;
    min-height: 200px;
    scale: 1;
}

.explicacio{
    margin: 20px;
    max-height: 0; /* Comencem amb la màxima alçada 0 */
    overflow: hidden; /* Amaguem el contingut que excedeix max-height */
    transition: max-height 1s ease-out;
}

.listMain:hover .explicacio {
    max-height: 200px; /* Espacio reservado para que aparezca el contenido */
}

.listMain:hover{
    color: white;
    background-color: rgba(255,255,255, .1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    scale: 1;

    .explicacio{
        max-height: 200px;
    }
}

p{
    text-align: left;
    margin: 30px;
    font-size: large;
}


nav{
    grid-area: nav;
    width: 100%;

    text-shadow: 0 0 10px #000000;
}


main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    border: rgb(255,165,0,.2) groove;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(0,0,0,.7);
    text-shadow: 0 0 10px #000000;
    text-align: justify;
}

.mainLinks > ul{
    display: flex;
    flex-grow: 1;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;

}

ul > span{
    margin: 10px;
}

.mainLinks span{
    width: 100%;
    height: 100%;
    text-align: center;
}

article{
    border-top: darkorange solid 3px;
    display: flex;
    flex-direction: column;
}
section{
    border-top: darkorange solid 1px;
}

.headMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    padding: 0;
}

.icon{
    width: 250px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    opacity: 0.5;
}

.common{
    height: 175px;
    width: 300px;
    float: left;
    margin: 15px;
}
div{
    margin: 15px;
}
i{
    color: orangered;
}

span{
    padding: 0;
}

h2, p{
    color: orange;
    margin: 5px;
}
/*Modificador Textos*/
article{
    text-justify: auto;
}

.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.article1, .article2, .article3{
    color: navajowhite;
    transition: .5s;
    padding: 10px;
}

.article1:hover, .article2:hover, .article3:hover{
    font-size: medium;
    background-color: rgba(0, 0, 0, .65);
    border-radius: 7px;
    box-shadow:
            0
            0
            50px/*blur*/
            1px/*spread*/
            rgba(255,69,0,.3);
    color: navajowhite;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


table{
    margin: 20px;
}

tr{
    align-items: center;
}

td{
    border-bottom: orange solid 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255,255,255, .2);
    backdrop-filter: blur(2px);
    transition: 0.3s;
}

tr:hover{
    background-color: coral;
    color: white;

}


@media (max-width: 600px) {

    .mainLinks > ul{
        display: flex;
        flex-direction: column;
    }

    span{
        margin: 20px;
    }
}

@media (max-width: 1190px){
    header{
        flex-direction: column;
    }
}
@media (max-width: 800px) {
    body{
        grid-template-columns: 100%;
        grid-template-rows:5% 90% 5%;
        grid-template-areas: "titol"
                "main"
                "footer";
    }

    header{
        flex-direction: column;
    }

}

