main{
    grid-area: main;
    border: rgb(255,165,0,.2);
    border-style: groove;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(0,0,0,.7);
    text-shadow: 0 0 10px #000000;
    text-align: justify;
}

article{
    border-top: darkorange solid 3px;
    display: flex;
    flex-direction: column;
}
section{
    border-top: darkorange solid 1px;
}
img{
    height: 175px;
    width: 300px;
    float: left;
    margin: 15px;
}
div{
    margin: 15px;
}
i{
    color: orangered;
}

span{
    padding: 0;
}

h2, p{
    color: orange;
}
/*Modificador Textos*/
p,article{
    text-justify: auto;
}


.climatic, .eco, .social{
    color: navajowhite;
    transition: .5s;
    padding: 10px;
}

.climatic:hover, .eco:hover, .social:hover{
    font-size: medium;
    background-color: rgba(0, 0, 0, .65);
    border-radius: 7px;
    box-shadow:
            0
            0
            50px/*blur*/
            1px/*spread*/
         rgba(255,69,0,.3);
    color: navajowhite;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer{
    grid-area: foot;
}


